/* This file is named unlform.css in order to not conflict with the Webform module's webform.css */

.webform-container-inline div,
.webform-container-inline label,
.webform-container-inline select {
    display: inline !important;
    width: auto !important;
}

.unl .dcf-form input.webform-calendar {
    border: 0;
    display: inline-block !important;
    padding: 0 !important;
    vertical-align: text-bottom;
    width: 1.2em;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  padding: 1px !important;
}

.ui-datepicker-calendar td {
  padding: 1px !important;
}

.form-submit {
    margin-right:.5em;
}

select {
    margin-bottom: 0;
}

.webform-grid td.checkbox,
.webform-grid th.checkbox {
    text-align: left;
}
