/* This file is named unlform.css in order to not conflict with the Webform module's webform.css */

.webform-container-inline div,
.webform-container-inline label,
.webform-container-inline select {
    display: inline !important;
    width: auto !important;
}

.fieldset-invisible {
    margin: 0;
    padding: 0;
}

fieldset:not(.fieldset-invisible) {
    border: 1px solid #c7c8ca;
    padding: 0 1em;
}
