.webform-container-inline div,
.webform-container-inline label,
.webform-container-inline select {
    display: inline !important;
    width: auto !important;
}

.fieldset-invisible {
    margin: 0;
    padding: 0;
}
