{% extends "block.html.twig" %}
{% block content %}
<nav class="dcf-nav-menu dcf-modal-parent unl-font-sans" id="dcf-navigation" role="navigation" aria-label="local navigation">
  {% include "/wdn/templates_5.0/includes/global/nav-toggle-btn.html" %}
  <div class="dcf-nav-menu-child dcf-nav-local dcf-w-100%">
    <!-- InstanceBeginEditable name="navlinks" -->
    {{ content }}
    <!-- InstanceEndEditable -->
  </div>
</nav>
{% endblock %}
