{% extends "block.html.twig" %}
{% block content %}
  <div class="dcf-site-affiliation dcf-lh-3 dcf-txt-2xs" id="dcf-site-affiliation">
    <!-- InstanceBeginEditable name="affiliation" -->
    {% if site_slogan %}{{ site_slogan|raw }}{% endif %}
    <!-- InstanceEndEditable -->
  </div>
  <div class="dcf-site-title dcf-bold dcf-lh-2 dcf-uppercase unl-ls-1" id="dcf-site-title">
    <!-- InstanceBeginEditable name="titlegraphic" -->
    {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    {% endif %}
    <!-- InstanceEndEditable -->
  </div>
{% endblock %}
