{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="cms-menu-local-tasks dcf-list-bare dcf-btn-group dcf-jc-flex-end dcf-flex-wrap-rev dcf-w-100% dcf-mb-0 dcf-pr-2 unl-scarlet dcf-bb-2 dcf-bb-solid dcf-bb-current dcf-txt-xs">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="cms-menu-local-tasks dcf-list-bare dcf-btn-group dcf-jc-flex-end dcf-flex-wrap-rev cf-w-100% dcf-mb-0 dcf-pr-2 unl-scarlet dcf-bb-2 dcf-bb-solid dcf-bb-current dcf-txt-xs">{{ secondary }}</ul>
{% endif %}
