{% include "/wdn/templates_5.0/includes/global/header-global-1.html" %}
{% include "/wdn/templates_5.0/includes/global/idm.html" %}
{% include "/wdn/templates_5.0/includes/global/search.html" %}
{% include "/wdn/templates_5.0/includes/global/header-global-2.html" %}

{% include "/wdn/templates_5.0/includes/global/logo-lockup.html" %}
{% if content %}
  {{ content }}
{% endif %}

</div>
</div>
